@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: #fe4f5480;
  background: -webkit-linear-gradient(
    -45deg,
    #fe4f54,
    #ff862e,
    #ffba38,
    #8fd33b,
    #3bd5d3,
    #4583ee,
    #d45df0
  );
  background: linear-gradient(
    -45deg,
    #fe4f54,
    #ff862e,
    #ffba38,
    #8fd33b,
    #3bd5d3,
    #4583ee,
    #d45df0
  );
}
.border-gradient {
  border-image: linear-gradient(to right, #f9f295, #e0aa3e, #faf398, #b88a44) 1;
  border-style: solid;
  border-width: 5px 0;
}
.border-gradient-full {
  border-image: linear-gradient(to right, #f9f295, #e0aa3e, #faf398, #b88a44) 1;
  border-style: solid;
  border-width: 5px;
}
.gradient-text {
  background: linear-gradient(
    to top,
    #6b21a8,
    #3bd5d3,
    #4583ee,
    #6b21a8,
    #3bd5d3,
    #4583ee,
    #6b21a8,
    #3bd5d3,
    #4583ee,
    #6b21a8
  );
  background-size: 300% 300%;
  background-clip: text;
}
.gradient-text2 {
  background: linear-gradient(
    to top,

    #ca03f7,
    #3bd5d3,
    #8fd33b,
    #ca03f7,
    #3bd5d3,
    #8fd33b,
    #ca03f7,
    #3bd5d3,
    #8fd33b,
    #ca03f7
  );
  background-size: 300% 300%;
  background-clip: text;
}
.gradient-text3 {
  background: linear-gradient(
    to top,
    #89289f,
    #4583ee,
    #7977dd,
    #89289f,
    #4583ee,
    #7977dd,
    #89289f,
    #4583ee,
    #7977dd,
    #89289f
  );
  background-size: 300% 300%;
  background-clip: text;
}
.gradient-text4 {
  background: linear-gradient(
    to top,
    #1d1640,
    #3d276f,
    #001d83,
    #39977f,
    #8aed07,
    #1d1640,
    #3d276f,
    #001d83,
    #39977f,
    #8aed07,
    #1d1640,
    #3d276f,
    #001d83,
    #39977f,
    #8aed07
  );
  background-size: 300% 300%;
  background-clip: text;
}
@font-face {
  font-family: "acme";
  src: url("/fonts/Acme-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "aladin";
  src: url("/fonts/Aladin-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "cormorantInfantLight";
  src: url("/fonts/CormorantInfant-Light.ttf"), format("truetype");
}
@font-face {
  font-family: "cormorantInfantReg";
  src: url("/fonts/CormorantInfant-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "cormorantInfantBold";
  src: url("/fonts/CormorantInfant-Bold.ttf"), format("truetype");
}
@font-face {
  font-family: "ewert";
  src: url("/fonts/Ewert-Regular.ttf"), format("truetype");
}

@font-face {
  font-family: "frederickaTheGreat";
  src: url("/fonts/FrederickatheGreat-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "jomhuria";
  src: url("/fonts/Jomhuria-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "kalnia";
  src: url("/fonts/KalniaGlaze-VariableFont_wdth,wght.ttf"), format("truetype");
}
@font-face {
  font-family: "pacifico";
  src: url("/fonts/Pacifico-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "playwrite";
  src: url("/fonts/PlaywriteDEGrund-VariableFont_wght.ttf"), format("truetype");
}
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
