@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: #fe4f5480;
  background: -webkit-linear-gradient(
    -45deg,
    #fe4f54,
    #ff862e,
    #ffba38,
    #8fd33b,
    #3bd5d3,
    #4583ee,
    #d45df0
  );
  background: linear-gradient(
    -45deg,
    #fe4f54,
    #ff862e,
    #ffba38,
    #8fd33b,
    #3bd5d3,
    #4583ee,
    #d45df0
  );
}

.gradient-text {
  background: linear-gradient(
    to top,
    #6b21a8,
    #3bd5d3,
    #4583ee,
    #6b21a8,
    #3bd5d3,
    #4583ee,
    #6b21a8,
    #3bd5d3,
    #4583ee,
    #6b21a8
  );
  background-size: 300% 300%;
  background-clip: text;
}
.gradient-text2 {
  background: linear-gradient(
    to top,

    #ca03f7,
    #f6248a,
    #3bd5d3,
    #8fd33b,
    #f6248a,
    #ca03f7
  );
  background-size: 300% 300%;
  background-clip: text;
}
.gradient-text3 {
  background: linear-gradient(
    to top,
    #9816ff,
    #f6248a,
    #7051f9,
    #ff708d,
    #f6248a,
    #9816ff
  );
  background-size: 300% 300%;
  background-clip: text;
}
.wrapper {
  height: 200px;
  display: flex;
  gap: 20px;
}
.box img {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "acme";
  src: url("/fonts/Acme-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "aladin";
  src: url("/fonts/Aladin-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "cormorantInfantLight";
  src: url("/fonts/CormorantInfant-Light.ttf"), format("truetype");
}
@font-face {
  font-family: "cormorantInfantReg";
  src: url("/fonts/CormorantInfant-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "cormorantInfantBold";
  src: url("/fonts/CormorantInfant-Bold.ttf"), format("truetype");
}
@font-face {
  font-family: "ewert";
  src: url("/fonts/Ewert-Regular.ttf"), format("truetype");
}

@font-face {
  font-family: "frederickaTheGreat";
  src: url("/fonts/FrederickatheGreat-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "jomhuria";
  src: url("/fonts/Jomhuria-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "kalnia";
  src: url("/fonts/KalniaGlaze-VariableFont_wdth,wght.ttf"), format("truetype");
}
@font-face {
  font-family: "pacifico";
  src: url("/fonts/Pacifico-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "playwrite";
  src: url("/fonts/PlaywriteDEGrund-VariableFont_wght.ttf"), format("truetype");
}
