@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: #fe4f5480;
  background: -webkit-linear-gradient(
    -45deg,
    #fe4f54,
    #ff862e,
    #ffba38,
    #8fd33b,
    #3bd5d3,
    #4583ee,
    #d45df0
  );
  background: linear-gradient(
    -45deg,
    #fe4f54,
    #ff862e,
    #ffba38,
    #8fd33b,
    #3bd5d3,
    #4583ee,
    #d45df0
  );
}

.gradient-text {
  background: linear-gradient(
    to top,
    #6b21a8,
    #3bd5d3,
    #4583ee,
    #6b21a8,
    #3bd5d3,
    #4583ee,
    #6b21a8,
    #3bd5d3,
    #4583ee,
    #6b21a8
  );
  background-size: 300% 300%;
  background-clip: text;
}
.gradient-text2 {
  background: linear-gradient(
    to top,

    #ca03f7,
    #3bd5d3,
    #8fd33b,
    #ca03f7,
    #3bd5d3,
    #8fd33b,
    #ca03f7,
    #3bd5d3,
    #8fd33b,
    #ca03f7
  );
  background-size: 300% 300%;
  background-clip: text;
}
.gradient-text3 {
  background: linear-gradient(
    to top,
    #89289f,
    #4583ee,
    #c724f4,
    #89289f,
    #4583ee,
    #c724f4,
    #89289f,
    #4583ee,
    #c724f4,
    #89289f
  );
  background-size: 300% 300%;
  background-clip: text;
}

@font-face {
  font-family: "acme";
  src: url("/fonts/Acme-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "aladin";
  src: url("/fonts/Aladin-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "cormorantInfantLight";
  src: url("/fonts/CormorantInfant-Light.ttf"), format("truetype");
}
@font-face {
  font-family: "cormorantInfantReg";
  src: url("/fonts/CormorantInfant-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "cormorantInfantBold";
  src: url("/fonts/CormorantInfant-Bold.ttf"), format("truetype");
}
@font-face {
  font-family: "ewert";
  src: url("/fonts/Ewert-Regular.ttf"), format("truetype");
}

@font-face {
  font-family: "frederickaTheGreat";
  src: url("/fonts/FrederickatheGreat-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "jomhuria";
  src: url("/fonts/Jomhuria-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "kalnia";
  src: url("/fonts/KalniaGlaze-VariableFont_wdth,wght.ttf"), format("truetype");
}
@font-face {
  font-family: "pacifico";
  src: url("/fonts/Pacifico-Regular.ttf"), format("truetype");
}
@font-face {
  font-family: "playwrite";
  src: url("/fonts/PlaywriteDEGrund-VariableFont_wght.ttf"), format("truetype");
}
